.link{
    color: white;
    font-size: 1.5em;
    margin: 0 1em;
    text-decoration: none;
}

.logged{
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
}

.brand{
    color: white; 
    font-size: 2.5em;
    margin: 0 1em;
}

@media (max-width: 600px) {
    .link{
        font-size: 1em;

    }
    
    .logged{
        font-size: 0.8em;
        margin-bottom: 0;
    }
    
    .brand{
        font-size: 1em;
    }
}